$headerFonts: Georgia,
serif;
$backgrounds: red;
$centered: auto;
.testing {
    width: percentage(1/2);
    background-color: $backgrounds;
    height: 500px;
    margin: $centered $centered;
}

.header {
    .subhead {
        margin: $centered $centered;
        font-size: 2em;
        font-family: $headerFonts;
        text-align: center;
    }
    h1 {
        margin: $centered $centered;
        font-family: $headerFonts;
        color: white;
        font-size: 3em;
        text-align: center;
    }
}