.testing {
  width: 50%;
  background-color: red;
  height: 500px;
  margin: auto auto; }

.header .subhead {
  margin: auto auto;
  font-size: 2em;
  font-family: Georgia, serif;
  text-align: center; }

.header h1 {
  margin: auto auto;
  font-family: Georgia, serif;
  color: white;
  font-size: 3em;
  text-align: center; }
